div.login-form {
    height: 100%;
    position: relative;
}

div.login-form-container {
    width: 25%; /*can be in percentage also.*/
    min-width: 350px;
    margin: auto;
    padding: 10px;
    position: relative;
}

.login-form form {
    padding: 20px;
    /*width: 25%;*/
    /*min-width: 350px;*/
    text-align: left;
    box-shadow: 0 0 9px 3px rgba(41,41,41,.25);
}

.login-form img {
    width: 120%;
    margin-left: -10%;
    /*width: 30%;*/
    /*min-width: 400px;*/
}
.login-form button {
    width: 100%;
}

.login-form p {
    text-align: center;
}