.Header {
    text-decoration: none;
    box-shadow: 0 0 9px 3px rgba(41,41,41,.25);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 35px;
}

.Header img {
    width: 50px;
    margin: auto;
    height: 100%;
}

.Header a {
    text-decoration: none;
}